{% extends "data/status_scenc.html" %}


{% block top_block %}

	<div class="PTYPE"><ul><li class="button_tip"><a href="javascript:history.back(-1);">返回上一页</a></li></ul></div>
{% endblock %}



{% block body %}
		{% if change_name  %}
	    <form id="category_form" method="post" action="{% url 'data_add_data' change_name %}">
		 {% endif %}
		{% if add_name  %}
	    <form id="category_form" method="post" action="{% url 'data_add_data' add_name  %}">
		{% endif %}
            {% csrf_token %}
		<table width="100%" border="0" cellpadding="3" cellspacing="1" class="BTB">
           	{% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %} 
	   {% for field in form.visible_fields %}
                <tr>
		{{ field.errors }}
		<td width="120"> {{ field.help_text }}</td>
               <td> {{ field }}<td>
		</tr>
            {% endfor %}
		</table>
            <input type="submit" name="submit" value="添加店铺" />

{% endblock %}
