{% load staticfiles %}
<html>
<head>
<title>show_tasks</title>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
-->
<script src = "{% static 'js/jquery-1.11.1.js' %}"></script>

<script src="{% static "js/rango-jquery.js" %}"></script>
<!--
<script type="text/javascript">

$('#test').click(function(){
	var  scores;
	scores = $(this).attr("data-score");
	$.get('/shop/add_score/', {score_id: scores}, function(data){
		$('#test2').html(data);

	});
});


</script>
-->

<!--
<script type="text/javascript">
var xmlhttp;
if (window.XMLHttpRequest)
	{
	xmlhttp = new XMLHttpRequest();
	}
else
	{
	xmlhttp = new ActiveXObject("Mictosoft.XMLHTTP");
	}

</script>

<script type ="text/javascript">
$(document).ready(function(){
$("button").click(function(){
$("p").hide();
});
});
</script>-->

</head>
	<p >每天</p>
	<p>当前分数是<p><p id = "test2"></p>

<ul>
	{% for Achievement in Achievements %}
		<li id= "{{ Achievement.id }}" > {{ Achievement.task }}   + {{ Achievement.score }}</li>
		<button id ="test"   data-score= "{{ Achievement.score }}"  data-task = "{{ Achievement.task }} "> 加分</button>
	{% endfor %}
</ul>
	<a href="{% url 'shop_addtasks' %}">增加任务</a>
	<a href="{% url 'shop_users' %}">查看分数</a>

</html>
