{% extends "data/base.html" %}

{% block tag_body %}
	<ul>
	<li id="tag_title_2101" class="on"><a href="?s_t=2&s_lr=20_21&s_r=2101">全部AP</a></li>
	<li id="tag_title_2101" class="on"><a href="?s_t=2&s_lr=20_21&s_r=2101">全部AP</a></li>
	<li id="tag_title_2101" class="on"><a href="?s_t=2&s_lr=20_21&s_r=2101">全部AP</a></li>
	<li id="tag_title_2101" class="on"><a href="?s_t=2&s_lr=20_21&s_r=2101">全部AP</a></li>
	<li id="tag_title_2101" class="on"><a href="?s_t=2&s_lr=20_21&s_r=2101">全部AP</a></li>
	</ul>
{% endblock %}

{% block top_block %}

{% endblock %}

{% block body %}
	<table id="grid_list" width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="BTB">
	<tr><td width="40" class="tt tC">序号</td>
	<td width="120" class="tt tL">MAC/名称</td>
	<td width="30" class="tt tC">在线</td>
	<td width="110" class="tt tC">运行/上线</td>
	<td width="100" class="tt tC">最后心跳/数据</td>
	<td width="90" class="tt tC">AP/AC-IP</td><td width="60" class="tt tC">终端数</td>
	<td width="30" class="tt tC">WTP</td><td width="140" class="tt tL">店号-店名</td>
	<td class="tt tL">操作</td></tr>	

	<tr onmouseover="this.className='tr_over'" onmouseout="this.className=''"><td class="tC">1</td><td class="tL">001F64E8D026<br>autoap</td><td class="tC"><div class="bool_on"></div></td><td class="tC">46天 23时13分28秒<br>46天 17时18分37秒</td><td class="tC">H_08-12 17:20:32<br>D_08-12 17:20:32</td><td class="tC">218.103.121.98<br>203.90.250.151</td><td class="tC">连接：0<br>认证：0</td><td class="tC">72</td><td class="tL">：Tonic 補品酒吧</td><td class="tL bt_td"><div class="td_button"><a href="?s_t=2&s_lr=20_27&s_r=2701&act=addmod&addmod=2&id=106">修改</a></div></td></tr>

	<tr onmouseover="this.className='tr_over'" onmouseout="this.className=''"><td class="tC">1</td><td class="tL">001F64E8D026<br>autoap</td><td class="tC"><div class="bool_on"></div></td><td class="tC">46天 23时13分28秒<br>46天 17时18分37秒</td><td class="tC">H_08-12 17:20:32<br>D_08-12 17:20:32</td><td class="tC">218.103.121.98<br>203.90.250.151</td><td class="tC">连接：0<br>认证：0</td><td class="tC">72</td><td class="tL">：Tonic 補品酒吧</td><td class="tL bt_td"><div class="td_button"><a href="?s_t=2&s_lr=20_27&s_r=2701&act=addmod&addmod=2&id=106">修改</a></div></td></tr>

{% endblock %}
