{% extends "data/base.html" %}

{% block tag_body %}
	<ul>
	<li id="tag_title_2101" class="on"><a href="?s_t=2&s_lr=20_21&s_r=2101">全部AP</a></li>
	<li id="tag_title_2101" class="on"><a href="?s_t=2&s_lr=20_21&s_r=2101">全部AP</a></li>
	<li id="tag_title_2101" class="on"><a href="?s_t=2&s_lr=20_21&s_r=2101">全部AP</a></li>
	</ul>

{% endblock %}

{% block top_block %}
		<div class="fl" style="margin-bottom:5px;">
		<input type="button" name="button" id="button" value="刷新本页" class="search_rf" style="margin-left:0;" onclick="top.location='?s_t=2&s_lr=20_21&s_r=2101&act=list'" />
		</div>
{% endblock %}


{% block body %}
	<table id="grid_list" width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="BTB">
	<tr>
    <td colspan="4" class="tt">当前时间：2015-08-12 17:08:33</td>
        </tr>
   <tr>
    <td width="200" class="tt">统计说明</td>
    <td width="200" class="tt tc">数值</td>
    <td width="100" class="tt tc">百分比</td>
    <td class="tt tc">&nbsp;</td>
  </tr>

	 <tr onmouseover="this.className='tr_over'" onmouseout="this.className=''">
    <td>最后数据时间</td>
    <td class="tc" style="font-size:14px;">2015-08-12 17:07:59</td>
    <td class="tc">-</td>
    <td class="tc">&nbsp;</td>
  </tr>

	<tr onmouseover="this.className='tr_over'" onmouseout="this.className=''">
    <td>最后数据时间</td>
    <td class="tc" style="font-size:14px;">2015-08-12 17:07:59</td>
    <td class="tc">-</td>
    <td class="tc">&nbsp;</td>
  </tr>



{% endblock %}
